# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
src/VirtualExtentLoader/.vs/
src/VirualExtentDll/.vs/
src/VirualExtentDll/packages/
src/VirualExtentDll/x64/
src/VirualExtentDll/VirualExtentDll/
src/VirtualExtentLoader/VirtualE.e7a5d74d/